{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Panier{% endblock %}

{% block body %}
    {% if panier is null %}
        <h1>Si panier == NULL</h1>
        <button id="createPanier">Créer et ajoute au panier et reload page</button>
    {% else %}
        <!-- Section Chemin accès -->
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Panier</h4>
                            <div class="breadcrumb__links">
                                <a href="{{path('accueil')}}">Accueil</a>
                                <span>Panier</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fin Section Chemin accès -->

        <!-- Section Panier -->
        <section class="shopping-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="shopping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <!--Légende-->
                                        <th>Produit</th>
                                        <th>Quantité</th>
                                        <th>Total</th>
                                        <th></th>
                                        <!--Fin Légende-->
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for produit in produits %}
                                        <tr>
                                            <td class="product__cart__item">
                                                <div class="product__cart__item__pic">
                                                <!--Image du produit-->
                                                    <img src="{{ asset('img/shopping-cart/cart-1.jpg') }}" alt="">
                                                </div>
                                                <!--Fin Image du produit-->

                                                <div class="product__cart__item__text">
                                                    <!--Nom du produit-->
                                                    <h6>{{produit.nom}}</h6>
                                                    <!--Fin Nom du produit-->  

                                                    <!--Prix du produit-->
                                                    <h5 class="pro-qty-prix">{{produit.prix}}</h5>
                                                    <!--Fin Prix du produit-->
                                                </div>
                                            </td>
                                        <!--Quantité du produit-->
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty-2">
                                                    
                                                    <input type="text" value="{{produit.qty}}">
                                                </div>
                                            </div>
                                        </td>
                                        <!--Fin Quantité du produit-->

                                        <!--Total du produit-->
                                        <td class="cart__price">
                                            <h4 class="total-class">{{produit.prix}}<h4>
                                        </td>
                                        <!--Fin Total du produit-->

                                        <!--Supprimer du produit-->
                                        <td class="cart__close"><i class="fa fa-close"></i></td>
                                        <!--Fin Supprimer du produit-->
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--Bouton continuer les achats-->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="continue__btn">
                                    <a href="{{ path('accueil') }}">Continuer les achats</a>
                                </div>
                            </div>
                        </div>
                        <!--Fin Bouton continuer les achats-->
                    </div>
                    <div class="col-lg-4">
                        <!--Code promo-->
                        <div class="cart__discount">
                            <h6>Code Promo</h6>
                            <form action="#">
                                <input type="text" placeholder="Entrez le code">
                                <button type="submit">Appliquer</button>
                            </form>
                        </div>
                        <!--Fin Code promo-->

                        <!--Total du panier-->
                        <div class="cart__total">
                            <h6>Total Panier</h6>
                            <ul>
                                <li>Total <span>$ 169.50</span></li>
                            </ul>
                            <a href="#" class="primary-btn">Paiement</a>
                        </div>
                        <!--Fin Total du panier-->
                    </div>
                </div>
            </div>
        </section>
        <!-- Fin Section Panier -->
    {% endif %}
{% endblock %}
