{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Panier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/paiement.css') }}" type="text/css">
{% endblock %}

{% block body %}
<div class="container">
    <section class="checkout spad">
        <h6 class="checkout__title">Paiement</h6>

        <form action="{{path("panier_subscription_paiement", {'id': commande.id}) }}" method="post" id="payment-form">
            <label>
                <div id="card-element" class="field is-empty my-6"></div>
                <span><span>Credit or debit card</span></span>
            </label>
        
            <button type="submit" class="site-btn btn-paiement">Acheter {{ commande.TotalCommande|number_format(2, ',', '.') }} €</button>

            <div class="outcome">
                <div class="error" role="alert"></div>

                <div class="success">
                    Success! Your Stripe token is <span class="token"></span>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        {% if app_environement == 'dev' %}
            const stripeKey = "{{ stripe_public_key_test }}";
        {% else %}
            const stripeKey = "{{ stripe_public_key_live }}";
        {% endif %}

        //Création des variables
        const stripe = Stripe(stripeKey); //Récupération objet stripe et le token dedans
        const elements = stripe.elements(); //Récupération elements objet stripe
        const subscription = "{{ commande.id }}"; //Récupération id de la commande
        const clientSecret = "{{ intentSecret }}"; //Récupération intentSecret
        const cardHolderEmail = "{{ utilisateur.email }}"; //Récupération email pour lier la carte à un utilisateur

    </script>

    <script src="{{ asset('js/stripe.js') }}" defer></script>
{% endblock %}
