{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Produits - Modification{% endblock %}

{% block body %}
<div class="__form">
{{ form_start(form) }}
    {{ form_widget(form.nom) }}
    {{ form_widget(form.qty) }}
    {{ form_widget(form.fournisseur) }}
    {{ form_widget(form.categorie) }}
    {{ form_widget(form.prix) }}
    {{ form_widget(form.Submit, { 'label': 'Modifier' }) }}
{{ form_end(form) }}
</div>
{% endblock %}